# Ansible Configuration File

[defaults]
# Use hosts file within inventory
inventory = inventory/hosts.ini

# Don't prompt about SSH host key verification
host_key_checking = False

# Hide deprecation warnings (cleaner output)
deprecation_warnings = False

# Show colors in output
force_color = True

# Nicer callback format
stdout_callback = yaml

# Only retry files manually
retry_files_enabled = False

roles_path = roles

interpreter_python = auto_silent

[privilege_escalation]
# For Windows
become = True
become_method = runas
become_user = Administrator

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
